<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/app.css">

</head>
    <body class="antialiased">
            <div class="sidebar">
                <div class="logo_content">
                    <div class="logo">
                        <i class='bx bx-message-rounded-dots'></i>
                        <div class="logo_name">Associação CU</div>
                    </div>
                    <i class='bx bx-menu' id="btn"></i>
                </div>
                <ul class="nav_list">
                    <li>
                        <a href="index.html">
                            <i class='bx bx-grid-alt' ></i>
                            <span class="links_name">Dashboard</span>
                        </a>
                        <span class="tooltip">Dashboard</span>
                    </li>
                    <li>
                        <a href="/views/info.html">
                            <i class='bx bx-grid-alt' ></i>
                            <span class="links_name">Dashboard</span>
                        </a>
                        <span class="tooltip">Dashboard</span>
                    </li>
                    <li>
                        <a href="/views/services.html">
                            <i class='bx bx-user' ></i>
                            <span class="links_name">User</span>
                        </a>
                        <span class="tooltip">User</span>
                    </li>
                    <li>
                        <a href="/views/news.html">
                            <i class='bx bx-calendar'></i>
                            <span class="links_name">Calendario</span>
                        </a>
                        <span class="tooltip">Calendario</span>
                    </li>
                    <li>
                        <a href="/views/contact.html">
                            <i class='bx bx-time' ></i>
                            <span class="links_name">Time</span>
                        </a>
                        <span class="tooltip">Time</span>
                    </li>
                </ul>
            </div>


        <!--               JS              -->
        <script src="/js/sidebar.js"></script>


        
</body>
</html>