<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/apps.css">

</head>
<body>
    <div class="container">
        <!-- <h1>My First Bootstrap Page</h1> -->
        <img src="/img/ragnarok2.png" align="left">
        <div class="container2">
            <h1>Venda De KK's Ragnarok</h1>
            <h2></h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="kks" placeholder="KK's">
                 <button onclick="enviarParaBanco()">Enviar para Banco de Dados</button>
                <!-- <input type="text" class="form-control" placeholder="KK's">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Server</option>
                    <option value="1">Thor</option>
                    <option value="2">Valhalla</option>
                </select>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Comprar</button> -->
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <h1>My First Bootstrap Page</h1> -->
        <img src="/img/pxg.jpg" align="left">
        <div class="container2">
            <h1>Venda De KK's PXG</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="kks" placeholder="KK's">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Server</option>
                    <option value="1">Gold</option>
                    <option value="2">Cosmic</option>
                    <option value="3">Aurora</option>
                    <option value="4">Emerald</option>
                    <option value="5">Platinum</option>
                </select>
                <button onclick="enviarParaBanco()" class="btn btn-outline-secondary" type="button" id="button-addon2">Comprar</button>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <h1>My First Bootstrap Page</h1> -->
        <img src="/img/wow.png" align="left">
        <div class="container2">
            <h1>Venda De KK's WoW</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="KK's">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Server</option>
                    <option value="1">Azralon</option>
                    <option value="2">Gallywix</option>
                    <option value="3">Goldrinn</option>
                    <option value="4">Nemesis</option>
                    <option value="5">Tol Barad</option>
                </select>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Comprar</button>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <h1>My First Bootstrap Page</h1> -->
        <img src="/img/dofus.jpg" align="left">
        <div class="container2">
            <h1>Venda De KK's Dofus</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="KK's">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Server</option>
                    <option value="1">Imagiro</option>
                    <option value="2">Orukam</option>
                    <option value="3">Hell Mina</option>
                    <option value="4">Draconiros</option>
                    <option value="5">Sombra</option>
                    <option value="6">Tylezia</option>
                    <option value="7">Tal Kasha</option>
                    <option value="8">Lernaya</option>
                    <option value="9">Gusnoh</option>
                    <option value="10">Zerpan</option>
                </select>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Comprar</button>
            </div>
        </div>
    </div>
    <script src="/js/teste.js"></script>
</body>
</html>